<canvas #canvas (window:resize)="onResize($event)"></canvas>

<script>
/*  console.log("THREE");
  var clock = new THREE.Clock(), raycaster = new THREE.Raycaster(), mouseVector = new THREE.Vector3()
  var renderer = new THREE.WebGLRenderer();
  renderer.setClearColor(0xddccdd, 1);
  renderer.setSize( window.innerWidth, window.innerHeight );
  document.getElementById("canvas").appendChild( renderer.domElement );
  var scene = new THREE.Scene();
  var camera = new THREE.PerspectiveCamera(70, 1.0, 1, 1000);
  scene.add(camera);

  var bytes = data.byte_array;
  transformImage(bytes);

  render();
  // FUNCTIONS
  function transformImage(data) {
    console.log("TRANSFORM");

    var bit_string = "";
    for (var z=0; z<data.length; z++) {
      bit_string += String("00000000"+parseInt(data[z]).toString(2)).slice(-8);
    }

    var bit_index = 0;
    var height = parseInt(bit_string.substring(bit_index, bit_index+16) ,2);
    bit_index += 16;
    var width = parseInt(bit_string.substring(bit_index, bit_index+16) ,2);
    bit_index += 16;

    var blocks_w_size = parseInt(width / 8);
    var blocks_h_size = parseInt(height / 8);
    var blocks_size = blocks_h_size * blocks_w_size;

    var vp8_types = [];
    var pixR = decodePixels();
    var pixR_arr = pixListToArr(pixR, height, blocks_w_size);
    var pixelsARR = iVP8(pixR_arr, vp8_types, height, width);

    var stride;
    var pixel_data = new Uint8Array(height*width*3);
    for (var i=0; i<height; i++) {
      for (var j=0; j<width; j++) {
        stride = (i*512 + j)*3;
        pixel_data[stride] = parseInt(pixelsARR[i][j]);
        pixel_data[stride+1] = parseInt(pixelsARR[i][j]);
        pixel_data[stride+2] = parseInt(pixelsARR[i][j]);
      }
    }
    console.log(stride, pixel_data);
    var tex = new THREE.DataTexture( pixel_data, width, height, THREE.RGBFormat );
    tex.flipY = true;
    tex.needsUpdate = true;
    var geometry = new THREE.CubeGeometry( 6, 10, 10);
    var material = new THREE.MeshBasicMaterial( { map: tex } );
    var mesh = new THREE.Mesh(geometry, material);
    mesh.position.z = -15;
    scene.add(mesh);

    function decodePixels () {
      var res = [], zz_piksli = [];
      var blocks_num = 0, blocks_h = 0, blocks_w = 0;
      var num_coef = 0, vp8_type = 0, vp_cnt = 0;
      var vp8 = false;

      while (blocks_num < blocks_size) {
        if (blocks_h > 0 && blocks_w > 0 && !vp8) // vmesni bloki (CONTAINING VP8!)
        {
          vp8_type = parseInt(bit_string.substring(bit_index, bit_index+2), 2) + 1; // +1 !! -> (NONE:0, ver:1, hor:2, dc:3, tm: 4) taka gi cuvam gore
          bit_index += 2;
          vp8 = true;
        }

        if (num_coef == 0) // zacetek bloka -> DC
        {
          var neg = bit_string.substring(bit_index, bit_index+1);
          bit_index += 1;
          var DC = parseInt(bit_string.substring(bit_index, bit_index+11), 2);
          bit_index += 11;

          if (neg=="1")
          {
            DC *= -1;
          }
          zz_piksli[num_coef] = DC;
          num_coef += 1;
        }

        var code_type = bit_string.substring(bit_index, bit_index+1);
        bit_index += 1;
        if (code_type == "0") // A / B
        {
          var tek_dolz = parseInt(bit_string.substring(bit_index, bit_index+6), 2); // 6biti tek_dolz
          bit_index += 6;
          for (var x = 0; x < tek_dolz; x++)
          {
            zz_piksli[num_coef] = 0;
            num_coef += 1;
          }

          if (num_coef != 64) // A
          {
            var AC_length = parseInt(bit_string.substring(bit_index, bit_index+4), 2);  // 4biti dolzina
            bit_index += 4;

            var neg = bit_string.substring(bit_index, bit_index+1);
            bit_index += 1;
            var AC = parseInt(bit_string.substring(bit_index, bit_index+(AC_length-1)), 2); // |dolzina-1|biti AC
            bit_index += AC_length-1;

            if (neg == "1")
            {
              AC *= -1;
            }
            zz_piksli[num_coef] = AC;
            num_coef += 1;
          }
        }
        else if (code_type == "1") // C
        {
          var AC_length = parseInt(bit_string.substring(bit_index, bit_index+4), 2);  // 4biti dolzina
          bit_index += 4;

          var neg = bit_string.substring(bit_index, bit_index+1);
          bit_index += 1;
          var AC = parseInt(bit_string.substring(bit_index, bit_index+(AC_length-1)), 2); // |dolzina-1|biti AC
          bit_index += AC_length - 1;

          if (neg == "1")
          {
            AC *= -1;
          }
          zz_piksli[num_coef] = AC;
          num_coef += 1;
        }


        if (num_coef == 64) // KONEC BLOKA, zacetek novega
        {
          // iZIGZAG
          var pixs = iZigZag(zz_piksli);
          // iDCT
          pixs = iDCT(pixs);
          // save vp8 type
          if (vp8)
          {
            vp8_types[vp_cnt] = vp8_type;
            vp_cnt++;
            vp8 = false;
          }

          res.push(pixs);
          // RESET VALUES
          num_coef = 0;
          vp8_type = 0;
          blocks_num += 1;
          blocks_w += 1;
          zz_piksli = [];

          if (blocks_w == blocks_w_size) // konec vrstice (koncni stolpec)
          {
            blocks_w = 0;
            blocks_h += 1;
          }
        }
      }

      return res;
    }
  }

  // DECODE HELPER FUNCTIONS (iZigZag, iDCT, iVP8)
  function iVP8(piksli, types, height, width) {
    var cnt = 0, i, j;
    // BLOK PO BLOK
    for (var U = 0; U < height; U += 8) // < PIX_WIDTH
    {
      for (var V = 0; V < width; V += 8) // < PIX_HEIGHT
      { // EN BLOK
        if (U > 0 && V > 0) // vsebuje VP8
        {
          var dc_avg = 0;
          // calc dc avg
          for (i = 0; i < 8; i++)
          {
            dc_avg += piksli[U + i][V - 1] + piksli[U - 1][V + i];
          }
          dc_avg = parseInt(dc_avg/16);
          switch (types[cnt])
          {
            case 1: // VERTICAL
              for (i = 0; i < 8; i++)
              {
                for (j = 0; j < 8; j++)
                {
                  piksli[U + i][V + j] += piksli[U - 1][V + j];
                }
              }
              break;
            case 2: // HORIZONTAL
              for (i = 0; i < 8; i++)
              {
                for (j = 0; j < 8; j++)
                {
                  piksli[U + i][V + j] += piksli[U + i][V - 1];
                }
              }
              break;
            case 3:   // DC
              for (i = 0; i < 8; i++)
              {
                for (j = 0; j < 8; j++)
                {
                  piksli[U + i][V + j] += dc_avg;
                }
              }
              break;
            case 4:   // TRUEMOTION
              for (i = 0; i < 8; i++)
              {
                for (j = 0; j < 8; j++)
                {
                  var tm_p = (piksli[U + i][V - 1] + piksli[U - 1][V + j]) - piksli[U - 1][V - 1];
                  piksli[U + i][V + j] += tm_p;
                }
              }
              break;
          }
          cnt++;
        }
      }
    }

    return piksli;
  }
  function iDCT(polje) {
    var res = Create2DArray(8);
    for (var x=0; x<8; x++)
    {
      for (var y=0; y<8; y++)
      {
        var sum = 0.0;
        for (var u = 0; u < 8; u++)
        {
          for (var v = 0; v < 8; v++)
          {
            var tmp_sum = C(u) * C(v);
            tmp_sum *= polje[u][v];
            tmp_sum *= Math.cos(parseFloat(parseFloat((2 * x + 1) * u * Math.PI) / 16));
            tmp_sum *= Math.cos(parseFloat(parseFloat((2 * y + 1) * v * Math.PI) / 16));

            sum += tmp_sum;
          }
        }
        sum *= 0.25; // 1/4
        res[x][y] = parseInt(Math.round(sum));
      }
    }
    return res;
  }
  function iZigZag(arr) {
    var res = Create2DArray(8);
    var predef_cols =[0, 1, 0, 0, 1, 2, 3, 2, 1, 0, 0, 1, 2, 3, 4, 5, 4, 3, 2, 1, 0, 0, 1, 2,
      3, 4, 5, 6, 7, 6, 5, 4, 3, 2, 1, 0, 1, 2, 3, 4, 5, 6, 7, 7, 6, 5, 4, 3, 2, 3, 4, 5,
      6, 7, 7, 6, 5, 4, 5, 6, 7, 7, 6, 7];
    var predef_rows = [0, 0, 1, 2, 1, 0, 0, 1, 2, 3, 4, 3, 2, 1, 0, 0, 1, 2, 3, 4, 5, 6, 5, 4,
      3, 2, 1, 0, 0, 1, 2, 3, 4, 5, 6, 7, 7, 6, 5, 4, 3, 2, 1, 2, 3, 4, 5, 6, 7, 7, 6, 5,
      4, 3, 4, 5, 6, 7, 7, 6, 5, 6, 7, 7];
    for (var i = 0; i < 64; i++)
      res[predef_rows[i]][predef_cols[i]] = arr[i];
    return res;
  }
  function C(x) {
    if (x == 0)
      return parseFloat(1.0/Math.sqrt(2));
    else
      return parseFloat(1.0);
  }
  // transform arr to 2d arr
  function pixListToArr(pixR, height, blocks_w_size) {
    var pixARR = Create2DArray(height);
    for (var i = 0, col = 0, row = -1; i < pixR.length; i++, col++) // ena iteracija - EN BLOK  (levo proti desnem)
    {
      var blok = pixR[i];
      if (i % blocks_w_size == 0)
      {
        row += 1;
        col = 0;
      }

      for (var x = 0; x < 8; x++)
      {
        for (var y = 0; y < 8; y++)
        {
          pixARR[row * 8 + x][col * 8 + y] = blok[x][y];
        }
      }
    }

    return pixARR;
  }
  // create 2d array
  function Create2DArray(rows) {
    var arr = [];
    for (var i=0;i<rows;i++) {
      arr[i] = [];
    }
    return arr;
  }

  // RENDER
  function render() {
    //var delta = 0.75 * clock.getDelta();

    camera.updateProjectionMatrix();
    requestAnimationFrame( render );
    renderer.render(scene, camera);
  }
  */
</script>
