<header class="header-image">
  <div class="headline">
    <div class="container">
      <h1>YOUR TRAVEL DIARY</h1>
      <h2>“Traveling — it leaves you speechless, then turns you into a storyteller.”<br> ― Ibn Battuta</h2>
    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container">

  <hr class="featurette-divider">

  <!-- First Featurette -->
  <div class="featurette" id="stories">

    <!-- Title -->
    <div>
      <h2 class="featurette-heading">
        <span class="text-muted">Latest Stories</span>
      </h2>
    </div>
    <!-- /.row -->

    <div class="loader" *ngIf="!latestStories"></div>
    <div class="row text-center" *ngIf="latestStories">

      <div class="col-md-3 col-sm-6 hero-feature" *ngFor="let story of latestStories">

        <mini-story [story]="story" ></mini-story>

      </div>

    </div>
    <!-- /.row -->


  </div>

  <hr class="featurette-divider">


  <div class="featurette" id="nearStories" *ngIf="nearStories">

    <!-- Title -->
    <div>
      <h2 class="featurette-heading">
        <span class="text-muted">Stories near you</span>
      </h2>
    </div>
    <!-- /.row -->

    <div class="loader" *ngIf="!nearStories"></div>
    <div class="row text-center" *ngIf="nearStories">

      <div class="col-md-3 col-sm-6 hero-feature" *ngFor="let story of nearStories">

        <mini-story [story]="story" ></mini-story>

      </div>

    </div>
    <!-- /.row -->


  </div>

  <hr class="featurette-divider" *ngIf="nearStories">


  <div class="featurette" id="trendingStories" *ngIf="trendingStories">

    <!-- Title -->
    <div>
      <h2 class="featurette-heading">
        <span class="text-muted">Trending</span>
      </h2>
    </div>
    <!-- /.row -->

    <div class="loader" *ngIf="!trendingStories"></div>
    <div class="row text-center" *ngIf="trendingStories">

      <div class="col-md-3 col-sm-6 hero-feature" *ngFor="let story of trendingStories">

        <mini-story [story]="story" ></mini-story>

      </div>

    </div>
    <!-- /.row -->


  </div>
  <hr class="featurette-divider" *ngIf="trendingStories">

  <!-- Third Featurette -->
  <div class="featurette" id="destinations">
    <!-- Title -->
    <div>
      <h2 class="featurette-heading">
        <span class="text-muted">Top Destinations</span>
      </h2>
    </div>

    <div class="loader" *ngIf="!topLocations"></div>
    <div class="row text-center" *ngIf="topLocations">
      <div class="col-md-3 col-sm-6 hero-feature" *ngFor="let loc of topLocations" >
        <div class="thumbnail">
          <img style="width: 800px; height: 180px;" src="{{loc.pictures[0]}}" alt="">
          <div class="caption">
            <h3>{{loc.city}}</h3>
            <p>{{loc.country}}</p>

            <p>
              <a [routerLink]="['/destination', loc._id]" class="btn btn-info">More info</a>
            </p>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->


  </div>


  <hr class="featurette-divider">

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; Your Travel Diary 2017</p>
      </div>
    </div>
  </footer>

</div>
<!-- /.container -->


<style type="text/css">
  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-left:46%;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
</style>
